<!doctype html>
<html>
    <head>
      <meta charset="utf-8"> <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" type="image/x-icon" href="/static/favicon.png">
      
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

      {% if title %}
      <title>{{ title }} - SecureChat</title>
      {% else %}
      <title>Welcome to SecureChat</title>
      {% endif %}
    </head>
    <body>
        <div class="nav-links">
            SecureChat: <a href="/">Home</a>
            {% if current_user.is_authenticated %}
                Hello {{ current_user.username }}
                <a href="#" id='logout'>Logout</a>
                <a href="{{ url_for('auth.setup_2fa') }}">2FA</a>
            {% else %}
                <a href="{{ url_for('auth.login') }}">Login</a>
                <a href="{{ url_for('auth.register') }}">Register</a>
            {% endif %}
        </div>
        <hr>
        
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
    {% if current_user.is_authenticated %}
    <script nonce="{{ csp_nonce() }}">
        function logoutUser() {
        sessionStorage.removeItem("decrypted_private_key");
        sessionStorage.clear();
        
        window.location.href = "{{ url_for('auth.logout') }}";
        }
        document.getElementById('logout').addEventListener("click", , function(e) {
            e.preventDefault();
            logoutUser();
        });
    </script>
    {% endif %}
    </html>