<!doctype html>
<html>
    <head>
      <link rel="icon" type="image/x-icon" href="/static/favicon.png">
      {% if title %}
      <title>{{ title }} - SecureChat</title>
      {% else %}
      <title>Welcome to SecureChat</title>
      {% endif %}
    </head>
    <body>
        <div>SecureChat: <a href="/">Home</a></div>
        {% if current_user.is_authenticated %}
        <div>
          Hello {{ current_user.username }}
          <a href="#" id='logout'>Logout</a>
        </div>
        <div>
          <a href="{{ url_for('auth.setup_2fa') }}">2FA</a>
        </div>
        {% else %}
        <div>
          <a href="{{ url_for('auth.login') }}">Login</a>
          <a href="{{ url_for('auth.register') }}">Register</a>
        </div>
        {% endif %}
        <hr>
        {% block content %}{% endblock %}
    </body>
    {% if current_user.is_authenticated %}
    <script nonce="{{ csp_nonce() }}">
      function logoutUser() {
        sessionStorage.removeItem("decrypted_private_key");
        sessionStorage.clear();
        
        window.location.href = "{{ url_for('auth.logout') }}";
      }
      document.getElementById('logout').addEventListener("click", logoutUser);
    </script>
    {% endif %}
</html>
