<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - SecureChat</title>
      {% else %}
      <title>Welcome to SecureChat</title>
      {% endif %}
    </head>
    <body>
        <div>SecureChat: <a href="/">Home</a></div>
        {% if current_user.is_authenticated %}
        <div>
          Hello {{ current_user.username }}
          <a href="#" onclick="logoutUser()">Logout</a>
        </div>
        <div>
          <a href="{{ url_for('auth.setup_2fa') }}">2FA</a>
        </div>
        {% else %}
        <div>
          <a href="{{ url_for('auth.login') }}">Login</a>
          <a href="{{ url_for('auth.register') }}">Register</a>
        </div>
        {% endif %}
        <hr>
        {% block content %}{% endblock %}

        <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/argon2-browser@1.18.0/dist/argon2-bundled.min.js"></script>
    </body>
    <script>
      function logoutUser() {
        sessionStorage.removeItem("decrypted_private_key");
        sessionStorage.clear();
        
        window.location.href = "{{ url_for('auth.logout') }}";
      }
    </script>
</html>
