{% extends "base.html" %}

{% block content %}
<div>
    
    <h3 style="margin-top: 0;">Login</h3>

    <form id="loginForm" action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <div style="margin-bottom: 15px;">
            {{ form.username.label }}<br>
            {{ form.username(id="username", size=32) }}
        </div>

        <div style="margin-bottom: 15px;">
            <label for="password_raw" class="form-label">Password</label>
            <br>
            <input type="password" id="password_raw" class="form-control" autocomplete="password">
        </div>

        <div style="margin-bottom: 15px;">
            {{ form.totp_code.label }}<br>
            {{ form.totp_code(placeholder="000000", autocomplete="off") }}
        </div>

        <div>
            {{ form.submit(id="submitBtn") }}
        </div>

        {{form.password_verifier(id="password_verifier") }}
        
        <div id="statusMessage" style="margin-top: 10px; font-weight: bold; color: blue;"></div>
    </form>
</div>

<script type="module" src="{{ url_for('static', filename='js/controllers/login.js') }}" nonce="{{ csp_nonce() }}"></script>
{% endblock %}