{% extends "base.html" %}

{% block content %}
<div>
    <h3 style="margin-top: 0;">Register</h3>

    <form id="registerForm" action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <div style="display: none; visibility: hidden; position: absolute; left: -9999px;">
            {{ form.website.label }}
            {{ form.website(tabindex="-1", autocomplete="off") }}
        </div>

        <div style="margin-bottom: 15px;">
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
            
            {% for error in form.username.errors %}
            <div style="color: red; font-size: small;">{{ error }}</div>
            {% endfor %}
        </div>

        <div style="margin-bottom: 15px;">
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}

            {% for error in form.email.errors %}
            <div style="color: red; font-size: small;">{{ error }}</div>
            {% endfor %}
        </div>


        <div style="margin-bottom: 15px;">
            <label for="password_raw" class="form-label">Password</label>
            <br>
            <input type="password" id="password_raw" class="form-control" autocomplete="new-password">

            <div style="margin-top: 5px; height: 5px; background-color: #eee; width: 100%;">
                <div id="password-strength-bar" style="height: 100%; width: 0%; transition: width 0.3s;"></div>
            </div>
            <small id="password-strength-text" style="color: gray;">Password strength</small>

        </div>

        <div style="margin-bottom: 15px;">
            <label for="password_second_raw" class="form-label">Repeat Password</label>
            <br>
            <input type="password" id="password_second_raw" class="form-control" autocomplete="new-password">
            
        </div>
        
        {{ form.password_verifier(id="password_verifier") }}
        {{ form.public_key(id="public_key") }}
        {{ form.encrypted_private_key(id="encrypted_private_key") }}
        {{ form.private_key_iv(id="private_key_iv") }}
        
        {{ form.signing_public_key(id="signing_public_key") }}
        {{ form.encrypted_signing_private_key(id="encrypted_signing_private_key") }}
        {{ form.signing_private_key_iv(id="signing_private_key_iv") }}

        <div style="margin-top: 20px;">
            {{ form.submit(id="submitBtn") }}
        </div>
        
        <div id="statusMessage" style="margin-top: 10px; font-weight: bold; color: blue;"></div>
    </form>
</div>

<script type="module" src="{{ url_for('static', filename='js/controllers/register.js') }}" nonce="{{ csp_nonce() }}"></script>
{% endblock %}