{% extends "base.html" %}

{% block content %}
<div class="form-container">
    <h3>Register</h3>

    <form id="registerForm" action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <div class="honeypot">
            {{ form.website.label }}
            {{ form.website(tabindex="-1", autocomplete="off") }}
        </div>

        <div class="form-group">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control", autocomplete="username") }}
            
            {% for error in form.username.errors %}
            <div class="error-text">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control", autocomplete="email") }}

            {% for error in form.email.errors %}
            <div class="error-text">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            <label for="password_raw" class="form-label">Password</label>
            <input type="password" id="password_raw" class="form-control" autocomplete="new-password">

            <div class="password-meter-container">
                <div id="password-strength-bar" class="password-meter-bar"></div>
            </div>
            <small id="password-strength-text" class="password-help-text">Password strength</small>
        </div>

        <div class="form-group">
            <label for="password_second_raw" class="form-label">Repeat Password</label>
            <input type="password" id="password_second_raw" class="form-control" autocomplete="new-password">
        </div>
        
        {{ form.password_verifier(id="password_verifier") }}
        {{ form.public_key(id="public_key") }}
        {{ form.encrypted_private_key(id="encrypted_private_key") }}
        {{ form.private_key_iv(id="private_key_iv") }}
        
        {{ form.signing_public_key(id="signing_public_key") }}
        {{ form.encrypted_signing_private_key(id="encrypted_signing_private_key") }}
        {{ form.signing_private_key_iv(id="signing_private_key_iv") }}

        <div class="form-group" style="margin-top: 20px;">
            {{ form.submit(id="submitBtn", class="btn") }}
        </div>
        
        <div id="statusMessage" class="status-message"></div>
    </form>
</div>

<script type="module" src="{{ url_for('static', filename='js/controllers/register.js') }}" nonce="{{ csp_nonce() }}"></script>
{% endblock %}