{% extends 'base.html' %}

{% block content %}
<h3>Reset Password</h3>
<form id="reset_password_form" action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div style="margin-bottom: 15px;">
            <label for="password_raw" class="form-label">Password</label>
            <br>
            <input type="password" id="password_raw" class="form-control" autocomplete="new-password">

            <div style="margin-top: 5px; height: 5px; background-color: #eee; width: 100%;">
                <div id="password-strength-bar" style="height: 100%; width: 0%; transition: width 0.3s;"></div>
            </div>
            <small id="password-strength-text" style="color: gray;">Password strength</small>

        </div>

        <div style="margin-bottom: 15px;">
            <label for="password_second_raw" class="form-label">Repeat Password</label>
            <br>
            <input type="password" id="password_second_raw" class="form-control" autocomplete="new-password">
            
        </div>
    <div>
        {{ form.submit() }}
    </div>
    {{ form.password_verifier() }}
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>

<script>
    const passInput = document.getElementById('password_raw');
    const bar = document.getElementById('password-strength-bar');
    const text = document.getElementById('password-strength-text');
    const submitBtn = document.getElementById('submitBtn');

    passInput.addEventListener('input', function() {
        const val = passInput.value;
        const result = zxcvbn(val);
        const score = result.score;
        
        const colors = ["#dc3545", "#dc3545", "#ffc107", "#198754", "#20c997"];
        const widths = ["0%", "25%", "50%", "75%", "100%"];
        const texts = ["Very weak", "Weak", "Medium", "Strong", "Very strong"];

        bar.style.width = widths[score];
        bar.style.backgroundColor = colors[score];
        text.innerText = texts[score];
        text.style.color = colors[score];

        if(score < 2 && val.length > 0) {
            submitBtn.disabled = true;
            text.innerText += " (Too weak!)";
        } else {
            submitBtn.disabled = false;
        }
    });

    document.getElementById('registerForm').addEventListener('submit', async function(event) {
        event.preventDefault();

        const password = document.getElementById('password_raw').value;
        const passwordConfirm = document.getElementById('password_second_raw').value;
        try {
            if (!password || !passwordConfirm) {
                throw new Error("Fill in all fields ");
            }

            if (password !== passwordConfirm) {
                throw new Error("Passwords do not match.")
            }

            if (zxcvbn(password).score < 2) { 
                throw new Error("Password is too weak."); 
            }

            const salt = await getSaltFromUsername(username);
            const secrets = await deriveSecrets(password, salt);
        
            submitBtn.disabled = true;
            const enc = new TextEncoder();

            const encKeyPair = await window.crypto.subtle.generateKey(
                { name: "X25519" },
                true, ["deriveKey", "deriveBits"]
            );

            const signKeyPair = await window.crypto.subtle.generateKey(
                { name: "Ed25519" },
                true, ["sign", "verify"]
            );
            
            const expEncKey = await window.crypto.subtle.exportKey("jwk", encKeyPair.privateKey);
            sessionStorage.setItem("dec_enc_key", JSON.stringify(expEncKey));
            const expSignKey = await window.crypto.subtle.exportKey("jwk", signKeyPair.privateKey);
            sessionStorage.setItem("dec_sign_key", JSON.stringify(expSignKey));

            const encPubExp = await window.crypto.subtle.exportKey("spki", encKeyPair.publicKey);
            const signPubExp = await window.crypto.subtle.exportKey("spki", signKeyPair.publicKey);

            const ivEnc = window.crypto.getRandomValues(new Uint8Array(12));
            const wrappedEncPriv = await window.crypto.subtle.wrapKey(
                "pkcs8", encKeyPair.privateKey, secrets.encryptionKey, { name: "AES-GCM", iv: ivEnc }
            );

            const ivSign = window.crypto.getRandomValues(new Uint8Array(12));
            const wrappedSignPriv = await window.crypto.subtle.wrapKey(
                "pkcs8", signKeyPair.privateKey, secrets.encryptionKey, { name: "AES-GCM", iv: ivSign }
            );

            document.getElementById('public_key').value = arrayBufferToBase64(encPubExp);
            document.getElementById('encrypted_private_key').value = arrayBufferToBase64(wrappedEncPriv);
            document.getElementById('private_key_iv').value = arrayBufferToBase64(ivEnc);

            document.getElementById('signing_public_key').value = arrayBufferToBase64(signPubExp);
            document.getElementById('encrypted_signing_private_key').value = arrayBufferToBase64(wrappedSignPriv);
            document.getElementById('signing_private_key_iv').value = arrayBufferToBase64(ivSign);

            document.getElementById('password_verifier').value = secrets.loginToken;

            document.getElementById('password_raw').value = "";
            document.getElementById('password_second_raw').value = "";

            HTMLFormElement.prototype.submit.call(this);

        } catch (err) {
            console.error(err);
            statusMsg.innerText = err.message;
            submitBtn.disabled = false;
        }
    });
</script>
{% endblock %}